<app-header></app-header>
<div class="min-h-screen bg-gray-900 text-white pt-20">
    <!-- Contenido principal -->
    <main class="flex flex-col items-center justify-center flex-grow p-6">
      <h2 class="text-xl font-semibold mb-4">My List</h2>
  
      <!-- Lista de elementos -->
      <div class="w-full max-w-2xl bg-gray-800 p-4 rounded-lg shadow-lg">
        <ul class="space-y-4">
          <li class="p-4 bg-gray-700 rounded-lg flex justify-between">
            <span class="font-medium">Elemento 1</span>
            <span>Campo A</span>
            <span>Campo B</span>
            <span>Campo C</span>
          </li>
          <li class="p-4 bg-gray-700 rounded-lg flex justify-between">
            <span class="font-medium">Elemento 2</span>
            <span>Campo A</span>
            <span>Campo B</span>
            <span>Campo C</span>
          </li>
          <li class="p-4 bg-gray-700 rounded-lg flex justify-between">
            <span class="font-medium">Elemento 3</span>
            <span>Campo A</span>
            <span>Campo B</span>
            <span>Campo C</span>
          </li>
          <li class="p-4 bg-gray-700 rounded-lg flex justify-between">
            <span class="font-medium">Elemento 4</span>
            <span>Campo A</span>
            <span>Campo B</span>
            <span>Campo C</span>
          </li>
          <li class="p-4 bg-gray-700 rounded-lg flex justify-between">
            <span class="font-medium">Elemento 5</span>
            <span>Campo A</span>
            <span>Campo B</span>
            <span>Campo C</span>
          </li>
        </ul>
      </div>
    </main>
  </div>
  