<app-header></app-header>
<div class="min-h-screen bg-gray-900 text-white flex flex-col">
    <div class="mx-auto mt-52 bg-gray-90 p-20">
        <label for="first_name" class="mb-2 text-2xl flex justify-center font-medium text-gray-900 dark:text-white">Add a Game To Your List</label>
        <input [(ngModel)]="gamename" type="text" id="first_name" class="bg-gray-50 border mx-auto mt-10 w-96 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5" placeholder="Ex: The Binding of Isaac" required />
        <div class="btn flex justify-center">
            <button (click)="addGame()" type="button" class="mt-10 text-white bg-blue-700 hover:bg-blue-600 rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none">Add Game</button>
        </div>
    </div>
</div>
